div, * {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    line-height: 1.5;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

::selection {
    background: var(--color-pink);
    color: white !important;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 24px;
    margin-bottom: 18px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    border: 0px;
    border-radius: 80px;
    cursor: pointer;
}

input {
    border: 0;
}

a {
    color: var(--color-dark-cyan);
    text-decoration: none;
    border-bottom: 3px solid var(--color-pink);
    background-image: linear-gradient(to bottom,transparent 0,var(--color-pink) 0);
    background-repeat: no-repeat;
    background-position: 0px 30px;
    transition: all .2s;
}

a:hover {
    background-position: 0px 0px;
    color: white;
}

#mainContainer {
    position: relative;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.sectionContent {
    height: inherit;
    display: grid;
    grid-template-rows: 60% 40%;
}

.sectionContent:first-child {
    padding-top: 50px;
}

.sectionText {
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plainText {
    margin-bottom: 40px;
}

.pinkButton {
    color: var(--color-pale-blue);
    background-color: var(--color-pink);
    padding: 12px 40px;
    box-shadow: 0 5px 20px rgba(0,0,0,.3)
}

.fullWideImage {
    width: 75%;
}

.topCyanBackground, .bottomCyanBackground, .topDarkBackground {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    width: 100%;
    height: 100%;
}

.waveSection .sectionContent {
    grid-template-rows: 15% 45% 30% 10%;
    padding: 0;
    align-items: center;
    width: 100vw;
}

.wavesText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    justify-self: center;
}
